/***************************
filename: main.css

description: style for na.com
author: Jonathan Alvarado
date: 5/10/2017
***************************/

/*------------------ DEFAULT TAGS-------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid red !important;*/
}
* {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*below are the DEFAULT display values that should be used
for H1 headers*/
/*h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    background: #FFF;
}*/

/*-----------------------OVERALL HTML BODY STYLING---------------*/
div.container-fluid {
    background-color: transparent;
}

div.col-md-12.col-lg-12 {
    padding: 0;
}


/*-------------------------NAVBAR ROW STYLING---------------------*/
div.container {
    display: flex;
}/*necessary for brand and hamburger icon to be aligned horizontally
next to each other*/

div.navbar-header {
    width: 100%;
}/*combined with top, also necessary, else hamburger icon will not
align to the right*/

@media (min-width: 770px) {
    div#navbarCollapse.collapse.navbar-collapse {
        float: right;
    }/*moves navbar text to right align for biggest viewports*/
}
.brand {
    max-width: 20%
    max-height: 20%;
}

.navbar {
    background-color: black;
    border-color: black;
    color:white;
    border-radius: none;
    font-size: xx-large;
}/*color and font sizes for navbar background*/

#navbarCollapse {
    text-align: -webkit-center;
}/*This centers all the text in the collapsed hamburger icon menu*/

a {
    text-decoration: underline;
    color: white;/*targets all the menu text in 'a' tags*/
}

.navbar .navbar-nav > .active > a {
    color: blue;
    background-color:transparent;
}/*targets text with "class='active'" attribute, inside 'a' tags,
like the 'Menu' text in navbar*/

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open >a {
    text-decoration: none;
    background-color: black;
    color: blue;
}/*color and style ONLY when mouse is hovering/focusing over menu text*/

.navbar .navbar-toggle {
    background-color: gray;
}/*default color of the hamburger icon (excluding the 3 lines)*/

span.icon-bar {
    background-color: white;
}/*default color of the 3 hamburger icon lines*/


/*-------------------------MIDDLE/CAROUSEL ROW-----------------------*/
#carousel-inner {
    text-align: center;
}

#myCarousel {
    min-height: 200px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


/*----------------------------ABOUT SECTION/ROW---------------------*/
div.col-md-12.text-center {
    background-color: white;
}

div.col-md-12 {
    background-color: white;
}


/*----------------------------FOOTER SECTION/ROW---------------------*/
footer {
    text-align: center;
    background-color: black;
}

.blue {
    color: blue;
}
/*---------------------------IDs below---------------------------*/